input[type=range][orient=vertical]
{
  appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

a
{
  text-decoration: none;
}

.hoverable
{
  cursor:pointer;
}

.button
{
  display:flex;
  justify-content: center;
  align-items: center;
  cursor:pointer;
  white-space: nowrap;
  box-sizing: border-box;
  height:min-content;
  width:min-content;
}

.button-primary
{
  padding:5px 20px 5px 20px;
  border: 1px solid var(--accent-color);
  border-radius:5px;
  background-color: var(--accent-color);
  color: var(--soft-white);
}

.button-primary.hoverable:hover
{
  transform: scale(1.1);
}

.button-primary.hoverable:active
{
  transform: scale(1.0);
}

.button-secondary
{
  padding:5px 20px 5px 20px;
  border: 1px solid var(--text-color-secondary);
  border-radius:5px;
  background-color: transparent;
  color: var(--text-color-secondary);

  transition: color 0.2s, border 0.2s;
}

.button-secondary.toggled, .button-banner.toggled
{
  color:var(--accent-color);
  border-color:var(--accent-color);
}

.button-secondary:not(.toggled):hover
{
  color: var(--text-color-primary);
  border-color: var(--text-color-primary);
}

.button-banner
{
  padding:5px 10px 5px 10px;
  border: 1px solid var(--light-gray);
  border-radius:5px;
  background-color:rgba(0,0,0,0.7);
  color:var(--light-gray);

  transition: color 0.2s, border 0.2s;
}

.button-banner:not(.toggled):hover
{
  color:var(--soft-white);
  border-color:var(--soft-white);
}

.button-round
{
  padding:0px;
  border:none;
  border-radius:50%;
  background-color: transparent;
  color: var(--text-color-primary);

  transition: color 0.2s;
}

.button-secondary.bi
{
  padding:3px;
}

.button-round.toggled { color: var(--accent-color); }

.button-round.huge { font-size:60px; }

.button-round.large { font-size:44px; }

.button-round.medium { font-size:30px; }

.button-round.small { font-size:22px; }

.button-round.tiny { font-size:14px; }

.button-link
{
  display:inline-flex;
  padding:0px;
  color: var(--text-color-primary);
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.button-link:active
{
  color: var(--text-color-secondary);
}

header
{
  width:100%;
  display:flex;
  justify-content: center;
  background-color: var(--nav-color);
}


header > nav
{
  width: 1240px;
  height: 48px;
  display:flex;
  align-items: center;
}

header > nav > ul
{
  display:flex;
  height:100%;
}

header > nav > .nav-mainmenu > li
{
  border-right:1px solid var(--soft-black);
}

header > nav ul > li > a
{
  color: var(--light-gray);
  height:100%;
  box-sizing:border-box;
  transition: all 0.2s;
  white-space: nowrap;
  padding:0px 20px 0px 20px;
  display:flex;
  align-items: center;
}

header > nav ul > li > a:hover
{
  color: var(--soft-white);
}

header > nav ul > li > a.router-link-active
{
  color: var(--soft-white);
  background-color: var(--soft-black);
}

.navtab
{
  margin:10px 0px 0px 0px;
  border-bottom:1px solid var(--panel-border-color);
}

.navtab > ul
{
  display:flex;
  gap:20px;
  padding-top:5px;
}

.navtab > ul > li > a
{
  display:flex;
  align-items: flex-end;
  color: var(--text-color-primary);
  cursor:pointer;
  white-space: nowrap;
  padding:0px 5px 0px 5px;
  font-size:18px;
}

.navtab > ul > li > a:hover
{
  border-bottom:2px solid var(--text-color-primary);
}

.navtab > ul > li > a.router-link-exact-active
{
  border-bottom:2px solid var(--accent-color);
  color: var(--accent-color);
}

.label
{
  display:flex;
  flex-direction: column;
  gap:5px;
  color: var(--text-color-primary);
  width:100%;
}

.label .error
{
  color:red;
}

.label input
{
  outline: 2px solid var(--panel-border-color);
  border: none;
  box-sizing: border-box;
  background:none;
  color: var(--text-color-primary);
  border-radius:5px;
  transition:0.1s all;
}

.label input:focus
{
  outline-color: var(--text-color-primary);
}

.select-wrapper
{
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid var(--accent-color);
  border-radius:10px;
  overflow:hidden;
  height:32px;
  box-sizing: border-box;
  flex-shrink: 0;
}

select
{
  background-color: var(--soft-white);
  color: var(--accent-color);
  height:100%;
  outline-color: transparent;
  padding-left:5px;
  padding-right:15px;
  border:none;
  flex-shrink: 0;
}

select:hover
{
  background-color:var(--accent-color);
  color:var(--soft-white);
}

option
{
  background-color: var(--soft-white);
  color:var(--soft-black);
}

option:checked
{
  background-color: var(--accent-color);
  color:var(--soft-white);
}

.label-search-input
{
  height:min-content;
  background-color: var(--soft-white);
  border-radius: 8px;
  min-width:100px;
  width:100%;
  max-width:400px;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 2px solid var(--light-gray);
  box-sizing: border-box;
  padding:3px;
}

.label-search-input:focus-within
{
  border-color: var(--text-color-primary);
}

.label-search-input i
{
  padding-left: 6px;
  padding-right: 6px;
  color: var(--light-gray);
  transition: color 0.2s;
}

.label-search-input input
{
  width:100%;
  background-color: transparent;
  color: var(--dark-gray);
  outline:none;
  border: none;
}

.label-search-input input:not(:placeholder-shown) + i
{
  color: var(--dark-gray);
}

::placeholder
{
  color: var(--light-gray);
}