.song-container .song:hover .shade,
.song-container .song.current .shade,
.song-container .song.active .shade,
.playlist-container .playlist .cover-wrapper:hover .shade
{
  opacity:0.5;
}

.song-container .song:hover .cover-menu,
.song-container .song.active .cover-menu,
.playlist-container .playlist .cover-wrapper:hover .cover-menu
{
  opacity:1.0;
}

.cover-menu
{
  position:absolute;
  opacity:0.0;
  transition: 0.2s all;
  color:var(--soft-white);
  display:flex;
  padding:10px;
  gap:20px;
  box-sizing: border-box;
}

.cover-menu.playlist-stats { bottom:0px; }

.cover-menu.song-options { bottom:0px; right:0px; gap:10px; }

.cover-menu > .button-round.filled { background-color:var(--soft-black); }

.cover-menu > .button-round:not(.toggled) { color:var(--soft-white); }



