/* ================================================== */

.container .song:hover .shade,
.container .song.current .shade,
.container .song.active .shade,
.container .playlist .cover-wrapper:hover .shade
{
  opacity:0.5;
}

/* ================================================== */

.cover-menu
{
  position:absolute;
  opacity:0.0;
  transition: opacity 0.2s;
  color:var(--soft-white);
  display:flex;
  padding:10px;
  gap:20px;
  box-sizing: border-box;
}

.cover-menu.playlist-stats { bottom:0px; }

.cover-menu.song-options { bottom:0px; right:0px; gap:10px; }

.cover-menu > .button-round { background-color:var(--soft-black); }

.cover-menu .button { color:var(--soft-white); }

.container .song:hover .cover-menu,
.container .song.active .cover-menu,
.container .song.card.current .cover-menu,
.container .playlist .cover-wrapper:hover .cover-menu
{
  opacity:1.0;
}

.song.item .cover-menu { transition:none; }

div:not(.container) > .song .cover-menu { display:none; }

/* ================================================== */