.skeleton
{
  background-color: var(--panel-border-color);
  color: var(--panel-border-color);
  height:1.0em;
  border-radius: 5px;
  max-width:100%;
}

.skeleton.button-secondary
{
  background-color: var(--panel-border-color);
  border:none;
}

.skeleton.banner-info
{
  padding:7px;
  background-color:rgba(0,0,0,0.7);
}

.skeleton.button-banner
{
  background-color:rgba(0,0,0,0.7);
  border:none;
}

.info-wrapper:has(.skeleton)
{
    justify-content: space-between;
}

.song .row
{
    height:min-content;
}

.card .info-wrapper:has(.skeleton), .playlist-expansible .right-column .info-wrapper:has(.skeleton)
{
    gap:7px;
}

.shimmer::before
{
  content:'';
  top:0px;
  right:0px;
  bottom:0px;
  left:0px;
  position:absolute;
  background-image: repeating-linear-gradient(45deg,
    rgba(0,0,0,0) 0px,
    rgba(255,255,255,0.1) 10px,
    rgba(0,0,0,0) 40px,
    rgba(0,0,0,0) 600px);
  background-attachment: fixed;
  background-size: 848px 848px;
  animation: shimmer linear infinite 1s;
}

.shimmer
{
  position:relative;
  overflow: hidden;
}

@keyframes shimmer
{
  0% { background-position: 0px 0px; }
  100% { background-position: -848px 0px; }
}

.fade-enter-active,
.fade-leave-active
{
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to
{
  position:absolute;
  opacity: 0;
}

.loader-wrapper
{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  padding:20px 0px 20px 0px;
  box-sizing: border-box;
}


.loader
{
  width: 50px;
  height: 50px;
  display: grid;
  border-radius: 50%;
  -webkit-mask:radial-gradient(farthest-side,#0000 50%,#FFF 50%);
  background:
    linear-gradient(0deg ,#6495ED80 50%,#6495EDFF 0) center/4px 100%,
    linear-gradient(90deg,#6495ED40 50%,#6495EDBF 0) center/100% 4px;
  background-repeat: no-repeat;
  animation: loader-spin 1s infinite steps(12);
}
.loader::before,
.loader::after
{
   content:"";
   grid-area: 1/1;
   border-radius: 50%;
   background:inherit;
}

.loader::before
{
  transform: rotate(-30deg);
}

.loader::after
{
   transform: rotate(30deg);
}

@keyframes loader-spin
{
  100% {transform: rotate(1turn)}
}

.wrapper-wave
{
  display:flex;
  width: 60%;
  height:60%;
  justify-content: space-between;
  align-items:flex-end;
  position: relative;
}

.wrapper-wave .wave
{
  width:20%;
  height:20%;
  border-radius: 50vh;
  background:var(--accent-color);
}

.wrapper-wave.playing .wave
{
  animation: wave 0.6s linear infinite;
}

.wrapper-wave.playing .wave:nth-child(2)
{
  animation-delay: -0.2s;
}

.wrapper-wave.playing .wave:nth-child(3)
{
  animation-delay: -0.4s;
}

@keyframes wave
{
  0%   {height:50%;}
  50%  {height:100%;}
  100% {height:50%;}
}