.font-size-large { font-size: 30px; font-weight:700; }
.font-size-big { font-size: 18px; font-weight:500; }
.font-size-medium { font-size: 16px; font-weight:500; }
.font-size-small { font-size: 14px; font-weight:400; }
.font-size-tiny { font-size: 12px; font-weight:400; }

/* ================================================== */

.s36x36
{
  width:36px;
  height:36px;
  flex-shrink:0;
  font-size:27px;
}

.s52x52
{
  width:52px;
  height:52px;
  flex-shrink:0;
  font-size:39px;
}

.s100x100
{
  width:100px;
  height:100px;
  flex-shrink:0;
  font-size:75px;
}

.s128x128
{
  width:128px;
  height:128px;
  font-size:64px;
  flex-shrink: 0;
}

.s160x160
{
  width:160px;
  height:160px;
  font-size:80px;
  flex-shrink: 0;
}

.s180x180
{
  width:180px;
  height:180px;
  flex-shrink:0;
  font-size:90px;
}

.s200x200
{
  width:200px;
  height:200px;
  flex-shrink:0;
  font-size:150px;
}

.s320x320
{
  width:320px;
  height:320px;
  flex-shrink:0;
  font-size:180px;
}

/* ================================================== */

.row
{
  display:flex;
  flex-direction:row;
  gap:10px;
}

.column
{
  display:flex;
  flex-direction:column;
  gap:10px;
}

/* ================================================== */

.scroll { overflow:auto; }

.scroll-hidden { overflow:auto; -ms-overflow-style: none; scrollbar-width: none; }

.scroll-hidden::-webkit-scrollbar { display: none; }

/* ================================================== */

.top { margin-bottom:auto; } .right { margin-left:auto; } .bottom { margin-top:auto; } .left { margin-right:auto; }

.x-center { display:flex; justify-content: center; }

.x-center-absolute { position:absolute; left: 50%; transform: translateX(-50%) }

.y-center { display:flex; align-items: center; }

.y-center-absolute { position:absolute; top: 50%; transform: translateY(-50%); }

.xy-center-absolute { position:absolute; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%); }

.h-100 { height:100% }

.w-50 { width:50% } .w-100 { width:100% }

.gap-0 { gap:0px } .gap-5 { gap:5px } .gap-10 { gap:10px } .gap-15 { gap:15px } .gap-20 { gap:20px }

/* ================================================== */