input[type=range][orient=vertical]
{
  appearance: slider-vertical;
  width: 8px;
  height: 175px;
  padding: 0 5px;
}

/* ================================================== */

.notification-error { font-size:14px; font-weight:400; color:red; }

input.input-error, textarea.input-error { outline-color:red; }

::placeholder { color: var(--light-gray); }

/* ================================================== */

.label-form
{
  display:flex;
  flex-direction: column;
  gap:5px;
  color: var(--text-color-primary);
  width:100%;
  font-size:16px; font-weight:400;
}

.label-form > span { width:min-content; white-space: nowrap; }

.label-form > input, .label-form > textarea
{
  outline: 2px solid var(--panel-border-color);
  border: none;
  background:none;
  color: var(--text-color-primary);
  border-radius:5px;
  transition: outline-color 0.1s;
}

.label-form input:focus, .label-form textarea:focus { outline-color: var(--text-color-primary); }

/* ================================================== */

.label-checkbox
{
  display:flex;
  gap:5px;
  align-items: center;
  color: var(--text-color-primary);
  width:100%;
}

.label-checkbox > .button { font-size: 16px; }

.form-checkbox > label { font-size: 14px; font-weight:400; white-space: nowrap;}

/* ================================================== */

.label-search
{
  height:min-content;
  background-color: var(--soft-white);
  border-radius: 8px;
  min-width:100px;
  width:100%;
  max-width:400px;
  display:flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 2px solid var(--light-gray);
  box-sizing: border-box;
  padding:3px;
  font-size:16px; font-weight:400;
}

.label-search:focus-within { border-color: var(--text-color-primary); }

.label-search i
{
  padding-left: 6px;
  padding-right: 6px;
  color: var(--light-gray);
  transition: color 0.2s;
}

.label-search input
{
  width:100%;
  background-color: transparent;
  color: var(--dark-gray);
  outline:none;
  border: none;
}

.label-search input:not(:placeholder-shown) + i { color: var(--dark-gray); }

/* ================================================== */

.select-wrapper
{
  display:flex;
  justify-content: center;
  align-items: center;
  border:1px solid var(--accent-color);
  border-radius:10px;
  overflow:hidden;
  height:32px;
  box-sizing: border-box;
  flex-shrink: 0;
}

select
{
  background-color: var(--soft-white);
  color: var(--accent-color);
  height:100%;
  outline-color: transparent;
  padding-left:5px;
  padding-right:15px;
  border:none;
  flex-shrink: 0;
}

select:hover
{
  background-color:var(--accent-color);
  color:var(--soft-white);
}

option
{
  background-color: var(--soft-white);
  color:var(--soft-black);
}

option:checked
{
  background-color: var(--accent-color);
  color:var(--soft-white);
}

/* ================================================== */