/* ================================================== */

.nav-header
{
  width: 1240px;
  height: 48px;
  display:flex;
  align-items: center;
}

.nav-header .nav-menu
{
  display:flex;
  height:100%;
}

.nav-header .nav-menu > li
{
  display:flex;
  align-items: center;
}

.nav-header .nav-menu.nav-main-menu > li
{
  border-right:1px solid var(--soft-black);
}

.nav-header .nav-menu > li > a
{
  color: var(--light-gray);
  height:100%;
  box-sizing:border-box;
  transition: all 0.2s;
  white-space: nowrap;
  padding:0px 20px 0px 20px;
  display:flex;
  align-items: center;
}

.nav-header .nav-menu > li > a:hover { color: var(--soft-white); }

.nav-header .nav-menu > li > a.router-link-active { background-color: var(--soft-black); color: var(--soft-white); }

/* ================================================== */

.nav-tab
{
  margin:10px 0px 0px 0px;
  border-bottom:1px solid var(--panel-border-color);
}

.nav-tab > ul
{
  display:flex;
  gap:20px;
  padding-top:5px;
}

.nav-tab > ul > li > a
{
  display:flex;
  align-items: flex-end;
  color: var(--text-color-primary);
  cursor:pointer;
  white-space: nowrap;
  padding:0px 5px 0px 5px;
  font-size:18px;
}

.nav-tab > ul > li > a:hover
{
  border-bottom:2px solid var(--text-color-primary);
}

.nav-tab > ul > li > a.router-link-exact-active
{
  border-bottom:2px solid var(--accent-color);
  color: var(--accent-color);
}

/* ================================================== */

.nav-side > ul
{
  display:flex;
  flex-direction: column;
  gap:5px;
  width: calc(100% - 15px);
}

.nav-side > ul > li
{
  position:relative;
}

.nav-side > ul > li > a
{
  display:flex;
  color: var(--text-color-primary);
  cursor:pointer;
  white-space: nowrap;
  padding:0px 5px 0px 5px;
  font-size:18px;
  line-height:30px;
}

.nav-side > ul > li:after
{
  content:' ';
  left:100%;
  top:50%;
  height:0;
  width:0;
  position:absolute;
  border: 15px solid transparent;
  border-left-color: var(--accent-color);
  margin-top: -15px;
  box-sizing: border-box;
  display:block;
  visibility: hidden;
}

.nav-side > ul > li > a.router-link-exact-active
{
  background-color: var(--accent-color);
  color:var(--soft-white);
}

.nav-side > ul > li:has(a.router-link-exact-active)::after
{
  visibility: visible;
}

/* ================================================== */